REACT_APP_API_URL=http://localhost:8000/api/v1
REACT_APP_ORGANIZATION_NAME=Your Organization
REACT_APP_APP_TITLE=Weaviate Admin
REACT_APP_APP_DESCRIPTION=Admin tool for monitoring and managing Weaviate
REACT_APP_DEMO_USER_1_EMAIL=engineer1@example.com
REACT_APP_DEMO_USER_1_PASSWORD=admin123
REACT_APP_DEMO_USER_2_EMAIL=engineer2@example.com
REACT_APP_DEMO_USER_2_PASSWORD=admin123
